*{
    width: 100%;
    height: 1080px;
}
body {
    background-color: black; 
}

.container{
    display: flex;
    flex-direction: column;
    
}

.container h3 { 
font-size: 1px;    opacity: 0;   
}

.container > .box{
    width: 8%;
    height: 60px;
    background-color: aqua;
    border: 1px solid black;
    margin-top: 10%;
}

.container div:hover{
    width: 28%;
    height: 60px;
    background-color: lightblue;
    cursor: pointer;

 h3 {
        opacity: 1;
        color: white;
        width: auto;
        height: auto;
    }
}
