* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
}
body {
  background-image: url(/assets/images/laptopbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
h1 {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 8%;
  left: 9%;
  color: white;
  margin-top: 2%;
  text-transform: uppercase;
  font-size: 3.6rem;
  border-right: 0.15em solid rgb(241, 65, 65);
  white-space: nowrap;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
.card {
  margin: 6%;
  width: 200px;
  height: 200px;
  background-color: rgb(80, 78, 78);
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.5s, font-size 0.5s;
}
.container {
  position: absolute;
  top: 30%;
  left: 9%;
  display: grid;
  gap: 57px;
  grid-template-columns: repeat(3, 1fr);
  width: 100px;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
  font-size: 30px;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .card {
    margin: 6%;
    width: 100px;
    height: 100px;
    background-color: rgb(80, 78, 78);
    box-shadow: 0px 0px 20px 1px black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: all 0.5s, font-size 0.5s;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    top: 22%;
    left: 9%;
  }
  h1 {
    font-size: 1.8rem;
  }

  .card:hover {
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
    font-size: 0.7rem;
    background-color: black;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(241, 65, 65);
  }
}
